@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
  background-color: #321b1a;
}

.START{
      background-color: #854442;
  color:#fff4e6;
  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  height: 100px;
  width: 375px;
  position: absolute;
  margin: 300 765;
  border: solid #4b3832;
  border-radius: 25px;
  transition: 1s;
}

.START:hover{
   background-color: #df8c8b;
  color: white;
}

.HTP{
    background-color: #854442;
color:#fff4e6;
font-size: 50px;
font-family: 'Fredoka One', cursive;
text-align: center;
height: 100px;
width: 375px;
position: absolute;
margin: 500 765;
border: solid #4b3832;
border-radius: 25px;
transition: 1s;
}

.HTP:hover{
 background-color: #df8c8b;
color: white;
}

.titolo{
    position: absolute;
    font-size: 150px;
    font-family: 'Fredoka One', cursive;
    color: #854442;
    left: calc(50% - 400px);

    margin-top: 50px;
  }